# Dependencies
# -----------------------
binaryornot
cookiecutter
sh

# Code quality
# -----------------------
black
coverage
flake8
python-coveralls

# Testing
# -----------------------
pytest
pytest-cov
pytest_cases
pytest-cookies
pytest-xdist==2.2.0
pyyaml
tox
virtualenv
