# Dependencies
# -----------------------
binaryornot
cookiecutter
sh

# Code quality
# -----------------------
black
coverage==5.3.1
flake8
python-coveralls

# Testing
# -----------------------
pytest
pytest-cov
pytest_cases
pytest-cookies
pytest-xdist
pyyaml
tox
virtualenv
