# Dependencies
# -----------------------
binaryornot==0.4.4
cookiecutter
sh

# Code quality
# -----------------------
black
coverage
flake8
python-coveralls

# Testing
# -----------------------
pytest
pytest-cov
pytest_cases
pytest-cookies
pytest-xdist
pyyaml
tox
virtualenv
