click
pip-check-reqs
pip-licenses
pytest
pytest-cov
pytest-pythonpath
setuptools
sphinx
tox
twine
{%- if cookiecutter.linter == 'pylint' %}
pylint
{%- elif cookiecutter.linter == 'yapf' %}
yapf
{%- elif cookiecutter.linter == 'flake8' %}
flake8
flake8-docstrings
{%- elif cookiecutter.linter == 'black' %}
black
{%- endif %}
{%- if cookiecutter.sphinx_theme == 'readthedocs' %}
sphinx-rtd-theme
{%- endif %}

