click
pip-check-reqs
pip-licenses
{%- if cookiecutter.linter == 'pylint' %}
pylint
{%- elif cookiecutter.linter == 'flake8' %}
flake8
flake8-docstrings
{%- endif %}
pytest==6.2.1
pytest-cov
pytest-pythonpath
setuptools
Sphinx
{%- if cookiecutter.sphinx_theme == 'readthedocs' %}
sphinx-rtd-theme
{%- endif %}
tox
twine
